.userContainer {
  padding: 10px;
  display: flex;
  align-items: center;
}

.userTitle{
  color: #fff;
}

.avatarImg {
  margin-right: 10px;
}

.userName {
  font-weight: 700;
  margin-right: 10px;
}

.logoutBtn {
  padding: 5px 10px;
  background-color: #004a9e;
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 0.8;

  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.logoutBtn:active {
  opacity: 1;
}
